.section-contato {
  .container-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 90px;
    gap: 13px;
    width: auto;
    
    h1, h2, p {
      color: #065F04;
      font-weight: 400;
    }

    h1 {
      font-size: 60px;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 50px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      margin-bottom: 5px;
    }

    input, .msg-contato {
      border: 1px solid rgb(105, 105, 105);

      width: 100%;
      max-width: 800px;
      padding: 10px 15px;

      font-family: sans-serif;

      &::placeholder {
        color: #878787; // Cor do placeholder
      }

      &:focus {
        outline: none;
      }
    }

    .msg-contato {
      height: 100px;
      resize: none; // nn deixar que o usuário mexa na caixa de mensagem
    }

    div {
      button {
        background-color: #065F04;
        color: #fff;
        font-weight: 800;
        font-size: 16px;
        font-style: italic;
        
        border: none;
  
        padding: 10px 70px;
        margin-top: 20px;
  
        &:hover {
          background-color: #145a32;
        }
      }
    }
  }
}

// Responsividade
@media (max-width: 1225px) {
  .section-contato {
    .container-contato {
      padding: 90px 0px;
    }
  }
}

@media (max-width: 1048px) {
  .section-contato {
    .container-contato {
      height: 70vh;
      gap: 10px;
      h1 { 
        font-size: 33px;
        margin-bottom: 5px;
      }
      h2 {
        font-size: 29px;
        margin-bottom: 5px;
      }
      p {
        font-size: 16px;
        margin-bottom: 5px;
      }
  
      input, .msg-contato {
        width: 500px;
        padding: 5px 10px;
      }

      .msg-contato {
        height: 75px;
      }


      div {
        button {
          font-size: 14px;
          margin-top: 10px;
          padding: 10px 40px;
        }
      }
    }
  }
}

@media (max-width: 581px) {
  .section-contato {
    .container-contato {
      height: 50vh;
      gap: 8px;
      h1 { 
        font-size: 21px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 19px;
        margin-bottom: 0px;
      }
      p {
        font-size: 14px;
        margin-bottom: 0px;
      }
  
      input, .msg-contato {
        width: 350px;
        padding: 2px 5px;

      }

      .msg-contato {
        height: 55px;
      }

      div {
        button {
          font-size: 12px;
          margin-top: 5px;
          padding: 10px 30px;
        }
      }
    }
  }
}