.section-trabalharConosco {
  .card-trabalharConosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin: 80px 0px;

    h1,
    h2,
    label {
      color: #065f04;
    }

    h1 {
      font-weight: 400;
      font-size: 45px;
    }
    h2 {
      font-weight: 500;
      font-size: 40px;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      max-width: 800px;
      font-family: sans-serif;
      input {

        padding: 10px;
        border: none;
        border-radius: 15px;

        &::placeholder {
          color: #878787;
        }

        &:focus {
          outline: none;
        }
      }

      input[type="date"] {
        color: #878787;
        font-family: sans-serif;

        &::-webkit-datetime-edit,
        &::-webkit-datetime-edit-fields-wrapper,
        &::-webkit-datetime-edit-text,
        &::-webkit-datetime-edit-month-field,
        &::-webkit-datetime-edit-day-field,
        &::-webkit-datetime-edit-year-field {
          color: #878787;
          font-family: sans-serif;
        }
      }
    }

    button {
      background-color: #065F04;
      color: #fff;
      font-weight: 800;
      font-size: 16px;
      font-style: italic;
      
      border: none;
      border-radius: 20px;

      padding: 10px 70px;
      margin-top: 20px;

      &:hover {
        background-color: #145a32;
      }
    }
  }
}
