.section-trabalharConosco {
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-trabalharConosco {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    gap: 10px;


    h1,
    h2,
    label {
      color: #065f04;
    }

    h1 {
      font-weight: 400;
      font-size: 45px;
    }
    h2 {
      font-weight: 500;
      font-size: 40px;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      max-width: 900px;
      font-family: sans-serif;
      input {
        padding: 10px;
        border: 1px solid rgb(105, 105, 105);

        &::placeholder {
          color: #878787;
        }

        &:focus {
          outline: none;
        }
      }

      input[type="date"] {
        position: relative;
        color: #878787;
        font-family: sans-serif;

        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }
        
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .error-message {
      color: red;
      font-size: 14px;
      margin-bottom: 10px;
    }

    button {
      background-color: #065F04;
      color: #fff;
      font-weight: 800;
      font-size: 16px;
      font-style: italic;
      
      border: none;

      padding: 10px 70px;
      margin-top: 20px;

      &:hover {
        background-color: #145a32;
      }
    }

    .center {
      text-align: center;
    }
  }
}
