

.App {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;

  .logo {
    height: 80px;
    margin-right: 40px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    margin: 0px 35px;
    gap: 30px;  

    div {
      display: flex;
      color:  #065F04;

      .custom-pin {
        margin: 5px 10px 0px 0px;
        font-size: 20px;
      }

      div {
        display: flex;
        flex-direction: column;
        
        p {
          font-size: 15px;
        }
      }
    }
  }

  nav { 
    ul {
      display: flex;
      list-style: none;
      gap: 30px;

      li {
        margin-left: 40px;
        font-weight: 400;
        font-size: 19px;

        a, Link {
           text-decoration: none;
           color: #065F04;
        }
      }
    }
  }

  .icons-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
  
    a {
      color: #065F04;
      transition: color 0.3s easy;
  
      &:hover {
        color: #145a32;
      }
  
      .custom-userIcon {
        font-size: 18px;
      }
    }
  }
}