* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.App {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  
  .header-left {
    display: flex;
    align-items: center;
    margin: 0px 35px;
    gap: 30px;  

    div { 
      line-height: 1.2;
      color:  #065F04;

      p {
        font-size: 17px;
      }
    }
  }

  
  nav { 
    ul {
      display: flex;
      list-style: none;
      gap: 50px;

      li {
        margin-left: 40px;

        a{
          text-decoration: none;
          color: #065F04;
          font-weight: 300;
          font-size: 17px;
        }
      }
    }
  }

  .logo {
    height: 80px;
    margin-right: 40px;
  }
}