.section-welcomeAdm{
  > .container-welcomeAdm {
    display: flex;

    div.main {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      
      h1 {
        color: #065F04;
        font-size: 45px;
        font-weight: 500;
        max-width: 500px;
        text-align: center;
      }
    }
  }
}