.section-welcomeAdm{
  .container-welcomeAdm {
    display: flex;
    gap: 600px;

    div {
      display: flex;
      text-align: center;
      align-items: center;

      
      h1 {
        color: #065F04;
        font-size: 45px;
        font-weight: 500;
        width: 100%;
        max-width: 500px;
      }

    }
  }
}