.section-previewBlog {
  .card-previewBlog {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    img {
      width: 355px;
      height: 193px;
      border-radius: 20px;
    }

    h2 {
      color: #065F04;
      font: 500;
      font-size: 22px;
      width: 100%;
      max-width: 350px;
      text-align: center;
    }

    p {
      color: #5B5B5B;
      font: 400;
      font-size: 15px;
      width: 100%;
      max-width: 300px;
      text-align: center;
    }
  }
}

// Responsividade
@media (max-width: 837px) {
  .section-previewBlog {
    .card-previewBlog {
      gap: 15px;

      img {
        width: 300px;
        height: 150px;
      }

      h2 { 
        font-size: 18px; 
        width: 270px;
      }

      p {
        font-size: 13px;
        width: 220px;
      }
    }
  }
}

@media (max-width: 667px) { 
  .section-previewBlog {
    .card-previewBlog {
      gap: 5px;

      img {
        width: 200px;
        height: 100px;
      }

      h2 { 
        font-size: 15px; 
        width: 230px;
      }

      p {
        font-size: 11px;
        width: 180px;
      }
    }
  }
}