.section-header {
  background-color: #fff;
  .App-header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;

    .logo {
      height: 80px;
      margin-right: 40px;
    }

    .header-left {
      display: flex;
      align-items: center;
      margin: 0px 35px;

      div {
        display: flex;
        color: #065F04;

        .custom-pin {
          margin: 5px 10px 0px 0px;
          font-size: 20px;
        }

        div {
          display: flex;
          flex-direction: column;

          p {
            font-size: 15px;
          }
        }
      }
    }

    nav {
      ul {
        display: flex;
        list-style: none;
        gap: 40px;

        li {
          font-weight: 400;
          font-size: 17px;

          a,
          Link {
            text-decoration: none;
            color: #065F04;
          }
        }
      }
    }

    .icons-header {
      display: flex;
      align-items: center;
      margin-left: 40px;

      a {
        color: #065F04;
        transition: color 0.3s easy;

        &:hover {
          color: #145a32;
        }

        .custom-userIcon {
          font-size: 18px;
        }
      }
    }
  }
}

.menu-mobile-list {
  display: none;
}
.menu-mobile {
  background-color: hsla(0, 0%, 74%, 0.822);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 0%;
  overflow: hidden;
  transition: width 0.3s ease;

  &.open {
    width: 50%;
  }

  .btn-close {
    display: flex;
    justify-content: flex-start;

    .btn-fechar {
      padding: 20px;
      font-size: 22px;
      color: #065F04;
      cursor: pointer;
    }
  }

  nav {
    ul {
      li {
        list-style: none;

        a {
          display: flex;
          flex-direction: column;
          text-align: right;
          color: #065F04;
          text-decoration: none;
          font-weight: 300;
          font-size: 20px;
          padding: 20px 5%;

          &:hover {
            background-color: #065F04;
            color: #fff;
          }
        }
      }
    }
  }
}

// Reponsividade
@media (max-width: 1278px) {
  .section-header {
    .App-header {
      justify-content: space-evenly;
      padding: 15px;

      .logo {
        margin-right: 0px;
      }

      nav {
        ul {
          gap: 10px;

          li {
            width: 130px;
            text-align: center;
          }
        }
      }

      .icons-header {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    .App-header {
      margin: 0px;
      padding: 0px;
      nav {
        ul {
          display: none;
        }
      }

      .icons-header {
        display: none;
      }
    }

    #sideBar-closed {
      display: block;
      color: #065F04;
      padding: 13px 12px;
      height: 100%;

      button {
        cursor: pointer;
        color: #065F04;
        border: none;
        font-size: 30px;
      }

      &.hidden {
        display: none;
      }
    }
  }
}
