.App-header {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    height: 80px;
    margin-right: 40px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    margin: 0px 35px;
    gap: 30px;  

    div {
      display: flex;
      color:  #065F04;

      .custom-pin {
        margin: 5px 10px 0px 0px;
        font-size: 20px;
      }

      div {
        display: flex;
        flex-direction: column;
        
        p {
          font-size: 15px;
        }
      }
    }
  }

  nav { 
    ul {
      display: flex;
      list-style: none;
      gap: 40px;

      li {
        margin-left: 40px;
        font-weight: 400;
        font-size: 19px;

        a, Link {
           text-decoration: none;
           color: #065F04;
        }
      }
    }
  }

  .icons-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
  
    a {
      color: #065F04;
      transition: color 0.3s easy;
  
      &:hover {
        color: #145a32;
      }
  
      .custom-userIcon {
        font-size: 18px;
      }
    }
  }
}

// Reponsividade
@media (max-width: 1329px) {
  .App-header {
    padding: 15px;
    gap: 80px;

    .logo {
      margin-right: 0px;
    }

    .header-left {
      gap: 15px;
      margin: 0px 25px;

      div {
        .custom-pin { font-size: 18px; }

        div {
          p { width: 130px;}
        }

      }
    }

    nav {
      ul {
        gap: 20px;
          li {
            margin-left: 10px;
            font-size: 15px;
            width: 105px;
          }
      }
    }

    .icons-header { 
      margin-left: 70px;
      .custom-userIcon { font-size: 13px; } 
    }  
  }
}

@media(max-width: 1158px) {
  .App-header {
    gap: 40px;

    nav {
      ul {
        gap: 10px;
        li {
          font-size: 14px;
        }
      }
    }
    .icons-header {
      margin-left: 20px;
    }
  }
}