.home3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60vh;
  background-color: #e1e2b7;

  .content-home3 {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 38px;
      color: #065f04;
      font-weight: 400;
      width: 100%;
      max-width: 500px;
    }

    p {
      font-size: 28px;
      color: #065f04;
      font-weight: 400;
    }

    > div {
      display: flex;
      gap: 20px;

      button {
        background-color: #065f04;
        border: none;
        border-radius: 40px;
        padding: 15px 25px;
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        width: 260px;
        text-align: start;
        color: #fff;
        line-height: 1.3;
        transition: background-color 0.3s easy;

        &:hover {
          background-color: #145a32;
        }
      }
    }
  }

  .image-container {
    width: 327.32px;
    height: 314px;
    border-radius: 50%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 30%;
    }
  }
}

// Responsividade
@media (max-width: 837px) {
  .home3 {
    height: 45vh;

    .content-home3 {
      h1 {
        font-size: 28px;
        width: 400px;
      }

      p {
        font-size: 20px;
      }

      > div {
        gap: 5px;
        button {
          font-size: 13px;
          width: 170px;
          padding: 5px 15px;
        }
      }
    }

    .image-container {
      width: 230px;
      height: 224px;
    }
  }
}

@media (max-width: 667px) {
  .home3 {
    justify-content: space-evenly;
    height: 40vh;

    .content-home3 {
      h1 {
        font-size: 20px;
        width: 270px;
      }

      p {
        font-size: 15px;
      }

      > div {
        button {
          font-size: 11px;
          width: 135px;
          padding: 5px 10px;
        }
      }
    }

    .image-container {
      width: 180px;
      height: 174px;
    }
  }
}

@media (max-width: 500px) { 
  .home3 {
    .content-home3 {
      h1 {
        font-size: 15px;
        width: 220px;
      }

      p {
        font-size: 13px;
      }

      > div {
        flex-direction: column;
        button {
          font-size: 10px;
        }
      }
    }

    .image-container {
      width: 180px;
      height: 174px;
    }
  }
}