.section-privacidade {
  .container-privacidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 180px;


    h1, h2 {
      color: #065F04;
      margin: 20px 0px;
    }

    h1 {
      font-size: 35px;
      font: 600;
    }

    h2 {
      font-size: 27px;
      font: 500;
    }

    p, li { color: #5B5B5B; }

    ul {
      margin-left: 25px;
    }
  }  
}

// Responsividade
@media (max-width: 953px) {
  .section-privacidade {
    .container-privacidade {
      padding: 25px 70px;

      h1, h2 { margin: 10px 0px; }

      h1 { font-size: 25px; }
      h2 { font-size: 20px; }
      p, li { font-size: 14px; }
      ul { margin-left: 20px; }
    }
  }
}

@media (max-width: 602px) {
  .section-privacidade {
    .container-privacidade {
      padding: 25px 10px;

      h1, h2 { margin: 5px 0px; }

      h1 { font-size: 20px; }
      h2 { font-size: 18px; }
      p, li { font-size: 12px; }
      ul { margin-left: 15px; }
    }
  }
}