.section-ultimosBlogs {
  .container-ultimosBlogs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 70px 0px;

    h1 {
      text-align: center;
      color: #065f04;
      font-weight: 500;
      font-size: 55px;
    }

    .blog-grid {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 60px;
      flex-wrap: wrap;
      margin: 0px 200px;
    }

    .navegacao {
      text-decoration: none;
    }
  }
}

// Responsividade
@media (max-width: 1171px) { 
  .section-ultimosBlogs {
    .container-ultimosBlogs {
      .blog-grid { margin: 0px 30px; }
    }
  }
}
@media (max-width: 837px) { 
  .section-ultimosBlogs {
    .container-ultimosBlogs {
      gap: 25px;
      padding: 45px 0px;

      h1 { font-size: 35px; }

      .blog-grid {
        gap: 30px;
        margin: 0px 10px;
      }
    }
  }
}

@media (max-width: 667px) {
  .section-ultimosBlogs {
    .container-ultimosBlogs {
      gap: 15px;
      padding: 25px 0px;

      h1 { font-size: 27px; }

      .blog-grid {
        gap: 15px;
        margin: 0px;
      }
    }
  }
 }
